{% extends "medical/layout.html" %}

    {% block content %}

<div class="container1">
    <div class="box1"> <img id="wooden_blocks" src="../../static/medical/1800x1200.jpg"/> </div>
    <div class="box2">
       <h2> <p> Umów się na wizytę: </p>
        <p style=" font-weight: bold; line-height:2; color: #FF5E13; ">504 243 133 </p>
        <p style=" font-weight: bold; line-height:2; color: #FF5E13; ">89 764 35 81 </p>
        <p> Gabinet: </p>
        <p> ul. Nowowiejskiego 23 w Bartoszycach </p></h2>
    </div>
</div>

<div class="container2">
    <div class="box3">
        <span style="text-align: center;"> <p style="font-family: Open Sans; font-size: 1.75vw; font-style: normal; font-variant: normal; font-weight: 350;  ">
            Reumatolog z ponad <span style="color: #FF5E13"> 30 letnim doświadczeniem</span>. </p>
            <p style="font-family: Open Sans; font-size: 1.75vw; font-style: normal; font-variant: normal; font-weight: 350; "> Oferuje kompleksowe leczenie chorób reumatycznych i internistycznych, w tym m.in.:</p> </span>
            <span style="font-family: Open Sans; font-size: 1.75vw; font-style: normal; font-variant: normal; font-weight: 350;">
                <ul style="line-height:1">blokady przystawowe </ul>
                <ul style="line-height:1">blokady przygręgosłupowe  </ul>
                <ul style="line-height:1"> krioterapia </ul>
                <ul style="line-height:1"> laseroterapia </ul>
                <ul style="line-height:1"> akupunktura </ul>  </span>
    </div>
    <div class="box4"> <img id="old_woman" src="../../static/medical/pani.jpg"/> </div>
</div>

<!--
<div class="gallery">
    <p> <h2>Wybrane certyfikaty i dyplomy w specjalizacji </h2></p>
    <p> <img src="../../static/medical/c1.jpg" alt=" "/>
    <img src="../../static/medical/c2.jpg" alt=" "/>
    <img src="../../static/medical/c3.jpg" alt=" "/>
    <img src="../../static/medical/c4.jpg" alt=" "/>
    <img src="../../static/medical/c5.jpg" alt=" "/>
    <img src="../../static/medical/c6.jpg" alt=" "/>
    <img src="../../static/medical/c7.jpg" alt=" "/></p>

</div>
-->
    {% endblock %}

