{% extends "medical/layout.html" %}
    {% block content %}

<div class="container1">
    <div class="box1"> <img src="../../static/medical/1800x1200.jpg"/> </div>
    <div class="box2">
       <h2> <p> Umów się na wizytę: </p>
        <span class="phone">
            <p> <img src=""/> 504 243 133 </p>
            <p> 89 764 35 81 </p></span>
        <p> Gabinet: </p>
        <p> ul. Nowowiejskiego 23 w Bartoszycach </p></h2>
    </div>
</div>

<div class="container2">
    <div class="box3">
        <span class="desc"> Reumatolog z ponad <span style="color: #FF5E13"> 30 letnim doświadczeniem</span>. </p>
            <p> Oferuje kompleksowe leczenie chorób reumatycznych i internistycznych, w tym m.in.:</p> </span>
            <span class="treatments">
                <ul> blokady przystawowe </ul>
                <ul> blokady przygręgosłupowe  </ul>
                <ul> krioterapia </ul>
                <ul> laseroterapia </ul>
                <ul> akupunktura </ul>  </span></div>
    <div class="box4"> <img src="../../static/medical/pani.jpg"/> </div>
</div>

<!--
<div class="gallery">
    <p> <h2>Wybrane certyfikaty i dyplomy w specjalizacji </h2></p>
    <p> <img src="../../static/medical/c1.jpg" alt=" "/>
    <img src="../../static/medical/c2.jpg" alt=" "/>
    <img src="../../static/medical/c3.jpg" alt=" "/>
    <img src="../../static/medical/c4.jpg" alt=" "/>
    <img src="../../static/medical/c5.jpg" alt=" "/>
    <img src="../../static/medical/c6.jpg" alt=" "/>
    <img src="../../static/medical/c7.jpg" alt=" "/></p>

</div>
-->
    {% endblock %}

