{% extends "medical/layout.html" %}
    {% block content %}
    {% load crispy_forms_tags %}
        <h1> Rejestracja </h1>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Zarejestruj">  </span>
        </form>
<!--    <script> onclick="return clicked();-->
<!--        function clicked() {-->
<!--            alert("Rejestracja przebiegła pomyślnie. Możesz się teraz zalogować używając nazwy użytkownika i hasła, które wpisałeś/aś podczas rejestracji");-->
<!--            return true;-->
<!--        }-->
<!--    </script>-->
    {% endblock %}