* {
    box-sizing: border-box;
}

html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    overflow-y:auto;
}

header {
    background-color: white;
    text-align: left;
    padding-left: 10%;
    padding-bottom: 4%;
}

.title {
    font-family: Open Sans;
    font-size: 2.5vw;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: #FF5E13;
    margin-bottom: 0;
    line-spacing:single;
}

.subtitle {
    font-family: Open Sans;
    font-size: 1.75vw;
    color: #757575;
    padding:0;
    margin:0;
    line-spacing:single
}

img {
    max-width:100%;
    display:block;
}

.container1, .container2 {
  display: flex;
  width: 100%;
}

.box1{
  width: 50%;
}

.box2 {
  width: 50%;
  text-align: center;
}

.phone {
    font-weight: bold;
    line-height:2;
    color: #FF5E13;
}

.box3 {
  text-align: center;
  padding-top: 3%;
  width: 50%;
}

.desc {
    text-align: center;
    font-family: Open Sans;
    font-size: 1.75vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 350;
}

.treatments {
    font-family: Open Sans;
    font-size: 1.75vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 350;
    line-height: 1
}

.box4 {
  width: 50%;
}


@font-face {
  font-family: 'Open Sans', sans-serif;
}





h1 {
font-family: Open Sans; font-size: 2.5vw; font-style: normal; font-variant: normal; font-weight: 400; line-height: 26.4px;
}

h2 {
font-family: Open Sans; font-size: 2vw; font-style: normal; font-variant: normal; font-weight: 350; line-height: 1.6;
}

h3 {
font-family: Open Sans; font-size: 1.25vw; font-style: normal; font-variant: normal; font-weight: 300; line-height: 15.4px;
}

blockquote { font-family: Open Sans; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 29.99px; }
pre { font-family: Open Sans; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.57px; }


.boxGallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery img {
    position: sticky;
    height: 20vh;
    width: 10vw;
    object-fit:cover;
    vertical-align: bottom;
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
}

.thumbnail:hover {
    position: fixed;
    z-index:999;
    top:30px ;
    left:30px;
    min-width: 400px;
    height: auto;
    border: none;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
}
